*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
  background: #fff7f3;
}

/* Fix mobile safe-area (notch issue) */
body {
  padding-top: env(safe-area-inset-top);
}

#root {
  min-height: 100%;
}
